$select-box-height: 10em;
$app-margin: 20px;

@mixin non-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

#app {
  border: 2px solid white;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  width: 1280px;
  height: 720px;
  max-width: calc(100vw - #{$app-margin});
  max-height: calc(100vh - #{$app-margin});
  overflow: hidden;
  position: relative;

}

.image-box {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: flex;
  justify-content: center;

  img {
    position: absolute;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }
  }

  .backgrounds {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    > div {
      background-size: cover;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.select-box {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;

  @include non-selectable;

  > .choice {
    background: rgba(0, 0, 0, .5);
    border: 0;
    color: white;
    cursor: pointer;
    font-size: 1.5em;
    margin: .5em 0;
    padding: .5em;
    text-align: center;

    &:hover {
      background: rgba(0, 0, 0, .8);
      text-shadow: 1px 1px 2px black;
    }

    p {
      margin: 0;
    }
  }
}

.dialog-box {
  background: rgba(128, 128, 128, .3);
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, .6),
    rgba(0, 0, 0, .3) 20px
  );
  flex-direction: column;
  height: 30%;
  overflow-y: scroll;

  .name-box {
    font-size: 1.4em;
    height: 1.4em;
    margin: 0 1em .5em;
  }

  .msg-box {
    margin-left: 4rem;

    &.narration {
      font-size: 1.2em;
    }
  }
}

.message {
  display: flex;

  > blockquote {
    background: darkgrey;
    border-radius: .5em;
    margin: .5em;
    max-width: 80%;
    min-height: 1em;
    padding: .5em 1em;

    p {
      margin: .25em 0;
    }

    img {
      max-width: 100%;
    }
  }

  &.left {
    justify-content: flex-start;
    text-align: left;

    > blockquote {
      background: rgb(29, 32, 40);
      color: white;
    }
  }

  &.right {
    justify-content: flex-end;
    text-align: right;

    > blockquote {
      background: #e6e6e6;
      color: black;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }
}
